.hero-link{
    color:inherit;
}
.hero{
    align-content: stretch;
}
#space-final-frontier{
    background-image: url(/images/final-frontier_large.jpg);
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
    .hero-unit-moon-exploration .hero-image{
        background-size: cover;
        background-position: 50%;
    }
    #space-final-frontier {
    background-image: url(/images/final-frontier_large_2x.jpg);
  }
}
@media only screen and (max-width: 1068px) {
    .hero-unit-moon-exploration .hero-image{
        background-size: cover;
        background-position: 50%;
    }
    #space-final-frontier {
    background-image: url(/images/final-frontier_medium.jpg);
  }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .hero-unit-moon-exploration .hero-image{
        background-size: cover;
        background-position: 50%;
    }
    #space-final-frontier{
    background-image: url(/images/final-frontier_medium_2x.jpg);
  }
}
@media only screen and (max-width: 735px) {
    .hero-container{
        flex-direction: column;
    }
    .hero-unit-moon-exploration .hero-image{
        background-size: cover;
        background-position: 50%;
    }
    #space-final-frontier{
    background-image: url(/images/final-frontier_small.jpg);
  }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .hero-unit-moon-exploration .hero-image{
        background-size: cover;
        background-position: 50%;
    }
    #space-final-frontier{
    background-image: url(/images/final-frontier_small_2x.jpg);
  }
}